:root {
  /* BASE COLORS */
  --bg: #f5e6da;
  --bgaccent: #ebd4c0;
  --transparentbg: #5944472e;
  --text: #281417;
  --textaccent: #3b2125;
  --link: #9f2d78;
  --linkvisited: #690025;
  --linkhover: #c47748;
  --focus: var(--linkvisited) solid 0.2rem;
  --accent: #8e3458;
  /* BG ACCENTS */
  --delbg: #EC9498;
  --warningbg: #f2d7a4;
  --insbg: #C4C858;
  --infobg: #C299D9;
  --markbg: #ffba99;
  /* TEXT ACCENTS */
  --pink: #a64460;
  --red: #911219;
  --orange: #8E3D0A;
  --yellow: #6c4c22;
  --green: #4B4D21;
  --blue: #532b6a;
  --purple: #8e3458;
  --black: #281417;
  --white: #6c625a;
  /* BULLET COLORS */
  --bulletred:#A54045;
  --bulletorange:#c47748;
  --bulletwhite: #a48971;
  --bulletpink:#ca7079;
  --bulletmaroon:#8e3458;
  /* BACKGROUND COLORS */
  --bgred:#A54045;
  --bgorange:#c47748;
  --bgwhite: #ebd4c0;
  --bgpink:#ca7079;
  --bgmaroon:#8e3458;
  /* BACKGROUND IMAGE */
  --bgimg: repeating-linear-gradient(180deg, var(--bgred), var(--bgred) 20px, var(--bgorange) 20px, var(--bgorange) 40px, var(--bgwhite) 40px, var(--bgwhite) 60px, var(--bgpink) 60px, var(--bgpink) 80px, var(--bgmaroon) 80px, var(--bgmaroon) 100px);
  --bgsize: auto;
  --hr: repeating-linear-gradient(90deg, var(--bgred), var(--bgred) 10%, var(--bgorange) 10%, var(--bgorange) 20%, var(--bgwhite) 20%, var(--bgwhite) 30%, var(--bgpink) 30%, var(--bgpink) 40%, var(--bgmaroon) 40%, var(--bgmaroon) 50%, var(--bgred) 50%, var(--bgred) 60%, var(--bgorange) 60%, var(--bgorange) 70%, var(--bgwhite) 70%, var(--bgwhite) 80%, var(--bgpink) 80%, var(--bgpink) 90%, var(--bgmaroon) 90%, var(--bgmaroon) 100%);
  /* FONTS */
  --bodyfont: "Nunito Sans", "Nunito", Arial, Helvetica, sans-serif;
  --headingfont: "Nunito Black", "Nunito", Arial, Helvetica, sans-serif;
  /* DECORATION */
  --emoji: "🩷";
  --emojispace: "🩷 ";
  --unicode: "⚢";
  --unicodespace: "⚢ ";
  --symbol: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-venus"><path d="M12 15v7"/><path d="M9 19h6"/><circle cx="12" cy="9" r="6"/></svg>');
}
/* SYNTAX HIGHLIGHTING */
@layer vendor-prism {@media (forced-colors: none), (forced-colors: active) {:root {--prism-a11y-border-radius: 0.3em;--prism-a11y-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;--prism-a11y-line-height: 1.5;--prism-a11y-code-block-margin: 0.5em 0;--prism-a11y-code-block-padding: 1em;--prism-a11y-code-inline-padding: 0.1em;--prism-a11y-width-border: 1px;--prism-a11y-width-tab: 2;}}@media (forced-colors: none), (forced-colors: active) {:root {--prism-a11y-color-background: hsla(0, 0%, 100%, 1);--prism-a11y-color-text-no-token: hsla(0, 0%, 33%, 1);--prism-a11y-color-text-comment: hsla(16, 100%, 25%, 1);--prism-a11y-color-text-blue: hsla(195, 100%, 30%, 1);--prism-a11y-color-text-green: hsla(120, 100%, 25%, 1);--prism-a11y-color-text-gray: hsla(0, 0%, 41%, 1);--prism-a11y-color-text-purple: hsla(282, 100%, 41%, 1);--prism-a11y-color-text-red: hsla(2, 80%, 47%, 1);--prism-a11y-color-text-yellow: hsla(43, 74%, 30%, 1);--prism-a11y-plugin-color-border: hsla(43, 74%, 30%, 0.55);--prism-a11y-plugin-color-background: hsla(43, 74%, 30%, 0.1);}}@media (forced-colors: none), (forced-colors: active) {:where( code[class*="language-"], pre[class*="language-"] ) {color: var(--prism-a11y-color-text-no-token);background: var(--prism-a11y-color-background);font-family: var(--prism-a11y-font-family);text-align: start;white-space: pre;word-spacing: normal;word-break: normal;word-wrap: normal;line-height: var(--prism-a11y-line-height);-moz-tab-size: var(--prism-a11y-width-tab);-o-tab-size: var(--prism-a11y-width-tab);tab-size: var(--prism-a11y-width-tab);-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens: none;hyphens: none;}pre[class*="language-"] {padding: var(--prism-a11y-code-block-padding);margin: var(--prism-a11y-code-block-margin);overflow: auto;border-radius: var(--prism-a11y-border-radius);}:where( :not(pre) > code[class*="language-"], pre[class*="language-"] ) {background: var(--prism-a11y-color-background);}:not(pre) > code[class*="language-"] {padding: var(--prism-a11y-code-inline-padding);border-radius: var(--prism-a11y-border-radius);white-space: normal;}:where( .token.comment, .token.prolog, .token.doctype, .token.cdata ) {color: var(--prism-a11y-color-text-comment);}.token.punctuation {color: var(--prism-a11y-color-text-gray);}:where( .token.property, .token.tag, .token.constant, .token.symbol, .token.deleted ) {color: var(--prism-a11y-color-text-red);}:where( .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.keyword ) {color: var(--prism-a11y-color-text-blue);}:where( .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted ) {color: var(--prism-a11y-color-text-green);}:where( .token.atrule, .token.attr-value, .token.function, .token.regex, .token.important ) {color: var(--prism-a11y-color-text-yellow);}:where( .token.boolean, .token.number, .token.keyword ) {color: var(--prism-a11y-color-text-purple);}:where( .token.important, .token.bold ) {font-weight: bold;}.token.italic {font-style: italic;}.token.entity {cursor: help;}.line-highlight {background: var(--prism-a11y-plugin-color-background);border-top: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);border-bottom: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);}.line-numbers .line-numbers-rows {border-right: var(--prism-a11y-width-border) solid var(--prism-a11y-color-text-no-token);}.line-numbers-rows > span:before {color: var(--prism-a11y-color-text-comment);}}@media (forced-colors: active) {:root {--prism-a11y-color-background: Canvas;--prism-a11y-color-text-no-token: CanvasText;--prism-a11y-color-text-comment: GrayText;--prism-a11y-color-text-blue: LinkText;--prism-a11y-color-text-gray: LinkText;--prism-a11y-color-text-green: CanvasText;--prism-a11y-color-text-purple: CanvasText;--prism-a11y-color-text-red: CanvasText;--prism-a11y-color-text-yellow: GrayText;--prism-a11y-plugin-color-border: LinkText;--prism-a11y-plugin-color-background: Canvas;}:where( .token.boolean, .token.number, .token.keyword ) {font-weight: bold;}}}
  
@media (prefers-color-scheme: dark) {
  :root {
      /* BASE COLORS */
      --bg: #3b2125;
      --bgaccent: #281417;
      --transparentbg: #9384783d;
      --text: #f3eadb;
      --textaccent: #ebd4c0;
      --link: #e97777;
      --linkvisited: #efaa9b;
      --linkhover: var(--text);
      --focus: var(--linkvisited) solid 0.2rem;
      --accent: var(--link);
      /* BG ACCENTS */
      --delbg: #822A2D;
      --warningbg: #825822;
      --insbg: #535510;
      --infobg: #653780;
      --markbg: #773E47;
      /* TEXT ACCENTS */
      --pink: #f4959f;
      --red: #D77075;
      --orange: #e69563;
      --yellow: #f2d7a4;
      --green: #C4C858;
      --blue: #C299D9;
      --purple: #C77A99;
      --white: #ebd4c0;
      /* BULLET COLORS */
      --bulletred:#e87d82;
      --bulletorange:#e69563;
      --bulletwhite:#ebd4c0;
      --bulletpink: #f4959f;
      --bulletmaroon: #dd7ab2;
  }
  /* SYNTAX HIGHLIGHTING */
  @layer vendor-prism {@media (forced-colors: none), (forced-colors: active) {:root {--prism-a11y-border-radius: 0.3em;--prism-a11y-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;--prism-a11y-line-height: 1.5;--prism-a11y-code-block-margin: 0.5em 0;--prism-a11y-code-block-padding: 1em;--prism-a11y-code-inline-padding: 0.1em;--prism-a11y-width-border: 1px;--prism-a11y-width-tab: 2;}}@media (forced-colors: none), (forced-colors: active) {:root {--prism-a11y-color-background: hsla(0, 0%, 17%, 1);--prism-a11y-color-text-no-token: hsla(60, 30%, 96%, 1);--prism-a11y-color-text-comment: hsla(54, 32%, 75%, 1);--prism-a11y-color-text-blue: hsla(180, 100%, 44%, 1);--prism-a11y-color-text-green: hsla(80, 75%, 55%, 1);--prism-a11y-color-text-gray: hsla(60, 30%, 96%, 1);--prism-a11y-color-text-purple: hsla(291, 30%, 83%, 1);--prism-a11y-color-text-red: hsla(17, 100%, 74%, 1);--prism-a11y-color-text-yellow: hsla(51, 100%, 50%, 1);--prism-a11y-plugin-color-border: hsla(51, 100%, 50%, 0.55);--prism-a11y-plugin-color-background: hsla(51, 100%, 50%, 0.1);}}@media (forced-colors: none), (forced-colors: active) {:where( code[class*="language-"], pre[class*="language-"] ) {color: var(--prism-a11y-color-text-no-token);background: var(--prism-a11y-color-background);font-family: var(--prism-a11y-font-family);text-align: start;white-space: pre;word-spacing: normal;word-break: normal;word-wrap: normal;line-height: var(--prism-a11y-line-height);-moz-tab-size: var(--prism-a11y-width-tab);-o-tab-size: var(--prism-a11y-width-tab);tab-size: var(--prism-a11y-width-tab);-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens: none;hyphens: none;}pre[class*="language-"] {padding: var(--prism-a11y-code-block-padding);margin: var(--prism-a11y-code-block-margin);overflow: auto;border-radius: var(--prism-a11y-border-radius);}:where( :not(pre) > code[class*="language-"], pre[class*="language-"] ) {background: var(--prism-a11y-color-background);}:not(pre) > code[class*="language-"] {padding: var(--prism-a11y-code-inline-padding);border-radius: var(--prism-a11y-border-radius);white-space: normal;}:where( .token.comment, .token.prolog, .token.doctype, .token.cdata ) {color: var(--prism-a11y-color-text-comment);}.token.punctuation {color: var(--prism-a11y-color-text-gray);}:where( .token.property, .token.tag, .token.constant, .token.symbol, .token.deleted ) {color: var(--prism-a11y-color-text-red);}:where( .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.keyword ) {color: var(--prism-a11y-color-text-blue);}:where( .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted ) {color: var(--prism-a11y-color-text-green);}:where( .token.atrule, .token.attr-value, .token.function, .token.regex, .token.important ) {color: var(--prism-a11y-color-text-yellow);}:where( .token.boolean, .token.number, .token.keyword ) {color: var(--prism-a11y-color-text-purple);}:where( .token.important, .token.bold ) {font-weight: bold;}.token.italic {font-style: italic;}.token.entity {cursor: help;}.line-highlight {background: var(--prism-a11y-plugin-color-background);border-top: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);border-bottom: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);}.line-numbers .line-numbers-rows {border-right: var(--prism-a11y-width-border) solid var(--prism-a11y-color-text-no-token);}.line-numbers-rows > span:before {color: var(--prism-a11y-color-text-comment);}}@media (forced-colors: active) {:root {--prism-a11y-color-background: Canvas;--prism-a11y-color-text-no-token: CanvasText;--prism-a11y-color-text-comment: GrayText;--prism-a11y-color-text-blue: LinkText;--prism-a11y-color-text-gray: LinkText;--prism-a11y-color-text-green: CanvasText;--prism-a11y-color-text-purple: CanvasText;--prism-a11y-color-text-red: CanvasText;--prism-a11y-color-text-yellow: GrayText;--prism-a11y-plugin-color-border: LinkText;--prism-a11y-plugin-color-background: Canvas;}:where( .token.boolean, .token.number, .token.keyword ) {font-weight: bold;}}}
}
/* PRIDE FLAG DIVIDER */
hr {
  border-color: transparent!important;
  border-image: var(--hr) 1 !important;
  font-weight: bold;
  /*box-shadow: var(--transparentbg) 1px 1px 1px, var(--transparentbg) -1px -1px 1px, var(--transparentbg) 1px -1px 1px, var(--transparentbg) -1px 1px 1px;*/
}
/* - PRIDE BULLETS - */
/* EMOJI BULLETS */
ul.emojibullets > li:nth-of-type(4n-3) {list-style-type: "❤️ ";}
ul.emojibullets > li:nth-of-type(4n-2) {list-style-type: "🧡 ";}
ul.emojibullets > li:nth-of-type(4n-1) {list-style-type: "🤍 ";}
ul.emojibullets > li:nth-of-type(4n) {list-style-type: "🩷 ";}
/* SYMBOL BULLETS */
.symbolbullets > li:nth-of-type(5n-4)::before, .symbolbullets > li:nth-of-type(5n-4) :is(ol, ul) li::before {background: var(--bulletred);}
.symbolbullets > li:nth-of-type(5n-3)::before, .symbolbullets > li:nth-of-type(5n-3) :is(ol, ul) li::before {background: var(--bulletorange);}
.symbolbullets > li:nth-of-type(5n-2)::before, .symbolbullets > li:nth-of-type(5n-2) :is(ol, ul) li::before {background: var(--bulletwhite);}
.symbolbullets > li:nth-of-type(5n-1)::before, .symbolbullets > li:nth-of-type(5n-1) :is(ol, ul) li::before {background: var(--bulletpink);}
.symbolbullets > li:nth-of-type(5n)::before, .symbolbullets > li:nth-of-type(5n) :is(ol, ul) li::before {background: var(--bulletmaroon);}
/* REGULAR/UNICODE BULLETS */
:is(ol, ul) > li:nth-of-type(5n-4)::marker {color: var(--bulletred);}
:is(ol, ul) > li:nth-of-type(5n-3)::marker {color: var(--bulletorange);}
:is(ol, ul) > li:nth-of-type(5n-2)::marker {color: var(--bulletwhite);}
:is(ol, ul) > li:nth-of-type(5n-1)::marker {color: var(--bulletpink);}
:is(ol, ul) > li:nth-of-type(5n)::marker {color: var(--bulletmaroon);}
/* NESTED BULLETS */
:is(ol, ul) li:nth-of-type(5n-4) li::marker, :is(ol, ul) li:nth-of-type(5n-4) li :is(ol, ul) li::marker {color: var(--bulletred);}
:is(ol, ul) li:nth-of-type(5n-3) li::marker, :is(ol, ul) li:nth-of-type(5n-3) li :is(ol, ul) li::marker {color: var(--bulletorange);}
:is(ol, ul) li:nth-of-type(5n-2) li::marker, :is(ol, ul) li:nth-of-type(5n-2) li :is(ol, ul) li::marker {color: var(--bulletwhite);}
:is(ol, ul) li:nth-of-type(5n-1) li::marker, :is(ol, ul) li:nth-of-type(5n-1) li :is(ol, ul) li::marker {color: var(--bulletpink);}
:is(ol, ul) li:nth-of-type(5n) li::marker, :is(ol, ul) li:nth-of-type(5n) li :is(ol, ul) li::marker {color: var(--bulletmaroon);}
/* DESCRIPTION LISTS */
dl dt:nth-of-type(5n-4) {color: var(--red);}
dl dt:nth-of-type(5n-3) {color: var(--orange);}
dl dt:nth-of-type(5n-2) {color: var(--white);}
dl dt:nth-of-type(5n-1) {color: var(--pink);}
dl dt:nth-of-type(5n) {color: var(--bulletmaroon);}
/* IMAGE FILTERS */
/* red */.buttons a:nth-of-type(5n-4) img {filter: brightness(0.75) contrast(1.2) sepia(87%) saturate(250%) hue-rotate(315deg);}
/* orange */.buttons a:nth-of-type(5n-3) img {filter: brightness(0.8) contrast(1.2) sepia(87%) saturate(250%) hue-rotate(340deg);}
/* white */.buttons a:nth-of-type(5n-2) img {filter: contrast(1.2) sepia(50%) saturate(75%);}
/* pink */.buttons a:nth-of-type(5n-1) img {filter: brightness(0.85) contrast(1.2) sepia(87%) saturate(250%) hue-rotate(300deg);}
/* magenta */.buttons a:nth-of-type(5n) img {filter: brightness(0.75) contrast(1.2) sepia(87%) saturate(200%) hue-rotate(280deg);}



/*

main h2:nth-of-type(5n-4) {text-shadow: -3px 2px 0 color-mix(in lab, var(--red) 30%, var(--bg));}
main h2:nth-of-type(5n-3) {text-shadow: -3px 2px 0 color-mix(in lab, var(--orange) 30%, var(--bg));}
main h2:nth-of-type(5n-2) {text-shadow: -3px 2px 0 color-mix(in lab, var(--white) 30%, var(--bg));}
main h2:nth-of-type(5n-1) {text-shadow: -3px 2px 0 color-mix(in lab, var(--pink) 30%, var(--bg));}
main h2:nth-of-type(5n) {text-shadow: -3px 2px 0 color-mix(in lab, var(--bulletmaroon) 30%, var(--bg));}

*/