    --bg: black;
    --bgaccent: #212121;
    --transparentbg: #59555e5b;
    --text: #FA00D3;
    --textaccent: #73F90B;
    --link: #C2FFA3;

    https://machinegirl.bandcamp.com/album/wlfgrl

    do something with yellow in album cover