{% extends "layouts/base.njk" %}
{% block extrahead %}<link href="/assets/css/blog.css" rel="stylesheet" type="text/css">{% endblock %}
{% block blogcontainer %}blogcontainer container{% endblock %}
{% block blogaside %}{% include "blogaside.html" %}{% endblock %}
{% block basetitle %}{% endblock %}
{% block baseTOC %}{% endblock %}