<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/css/deltarune.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div id="top"></div>
    <div id="skiptocontent"><a href="#content">Skip to Main Content</a></div>
    <div class="container">
        <header>
            <img src="https://colorfulwonders.neocities.org/images/deltarune/ezgif.com-crop.gif"> <!-- CHANGE THIS!!!! -->
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>

                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Graphics</a></li>
                    <li><a href="#">Fan Art</a></li>
                    <li><a href="#">Fan Theories</a></li>

                    <li><a href="#">Music</a></li>

                    <li><a href="#"><!--Back to -->Main Site</a></li>


                </ul>
            </nav>
        </header>
        <main id="content">
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </main>
        <footer>
            <p>Hand-coded by Name @ UserName. 20XX-20XX.</p>
            <p><a href="#top">Back to Top</a></p>
        </footer>
    </div>
</body>
</html>