{% extends "layouts/base.njk" %}
{% block headtitle %}<title>{{ site.name }}</title>{% endblock %}
{% block basetitle %}{% endblock %}
{% block footerbuttons %}
<p class="buttons">
    <a href="https://decolonizepalestine.com/"><img alt="stand with Palestine" src="/assets/graphics/buttons/standwith.png"></a>
    <a href="https://geocities.restorativland.org/CapitolHill/1131/"><img alt="no nazis, no fascism, no racism!" src="/assets/graphics/buttons/nofash.png"></a>
    <a><img alt="This site is certified 100% cookie free!" src="/assets/graphics/buttons/nocookie.gif"></a>
    <a><img alt="CSS is awesome." src="/assets/graphics/buttons/css.png"></a>
    <a href="https://fediverse.info/"><img alt="Join the Fediverse!!!" src="/assets/graphics/buttons/join-fediverse.gif"></a>
    <a href="https://www.w3schools.com/html/default.asp"><img alt="Hey you! Learn HTML now!" src="/assets/graphics/buttons/html.gif"></a>
    <a><img alt="made with my own two paws" src="/assets/graphics/buttons/twopaws.png"></a>
    <a><img alt="Pride now!" src="/assets/graphics/buttons/pride.gif"></a>
    <a href="https://brainmade.org/"><img alt="Brainmade.org" src="/assets/graphics/buttons/brainmade.png"></a>
    <a href="https://notbyai.fyi/hi/not-by-ai/"><img width="88" height="31" alt="Created by human, not by AI" src="/assets/graphics/buttons/Created-By-Human-Not-By-AI-Badge-white.svg"></a>
</p>
{% endblock %}