<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="EN">
    <link rel="icon" type="image/x-icon" href="{{ site.favicon }}">
    {% block headtitle %}<title>{{ title }} | {{ site.name }}</title>{% endblock %}
    {% if date %}<meta name="search_date" content="{{ date }}">{% endif %}
    {% if lastUpdated %}<meta name="revised" content="{{ lastUpdated }}">{% endif %}
    {% if desc %}<meta name="description" content="{{ desc }}">{% endif %}
    <meta name="author" content="{{ site.authorName }}">
    <meta name="license" {% if GPL %}content="GPLv3"{% else %}content="CC BY-NC-SA 4.0"{% endif %}>
    <meta name='og:title' content='{{ title }}'>
    <meta name='og:image' content='{% if metaimage %}{{ metaimage }}{% else %}/assets/images/sitepreview.png{% endif %}'>
    <meta name='og:site_name' content='{{ site.name }}'>
    {% if desc %}<meta name='og:description' content='{{ desc }}'>{% endif %}
    <meta name="fediverse:creator" content="@sainthood@indieweb.social">
    <link href="/assets/css/automatic.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/base.css" rel="stylesheet" type="text/css">
    {% block extrahead %}{%- endblock %}
    <style>{% getBundle "css" %}</style>
    <script>
        function changeStyle(style) {
            if (style == null)
                style = localStorage.getItem("style");
                if (style == null) 
                    style = "automatic";
            document.querySelector("link[type='text/css']").setAttribute("href", "/assets/css/" + style + ".css");
            localStorage.setItem("style", style);
        }
        changeStyle();
    </script>
</head>
<body>

<h1>Sainthood.xyz</h1>

<p>Hello and Welcome! This site is basically just a dumping ground for all of my projects that I feel like making public, with the occasional blog post here and there. Don't expect too much consistency from me.</p>



</body>
</html>